@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Public+Sans:wght@600&family=Roboto:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Public Sans", sans-serif;
  box-sizing: border-box;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -webkit-app-region: none;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  font-size: 2rem;
}

.App {
  max-height: 100vh;
  overflow: hidden;
  background: #f0f0f2;
}

.container {
  height: 100vh;
  display: flex;
  background: #212429;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  background: #212429;
  box-shadow: 5px 5px 10px #171a1d, -5px -5px 10px #2b2e35;
  height: 560px;
  width: 360px;
  padding: 15px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.display-wrapper {
  height: 20%;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background: #212429;
  box-shadow: 5px 5px 10px #171a1d, -5px -5px 10px #2b2e35;
}

.display {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 1.5rem;
  font-size: 2rem;
  color: #fff;
  background: transparent;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15%;
}

.btn {
  cursor: pointer;
  display: flex;
  border-radius: 50px;
  background: #212429;
  box-shadow: 5px 5px 10px #171a1d, -5px -5px 10px #2b2e35;
  color: #fff;
  font-size: 2rem;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  align-items: center;
  justify-content: center;
}

.btn:active {
  box-shadow: none;
}

.btn_operator {
  color: white;
  border-radius: 50px;
  background: #fe9d12;
}

@media screen and (max-width: 400px) {
  .wrapper {
    width: 90%;
  }

  .btn {
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
  }
}
